scraper_parameters:
  # Number of concurrent CollectorWorker threads
  # NOTE: start with amount of cores in your CPU;
  # then readjust to improve data collection performance
  collectors_amount: 8
  # Maximum amount of extension identifiers in collection queue
  # NOTE: set this to 0 for making the queue size unlimited
  backlog_limit: 0
  # Maximum amount of time to wait for new identifiers to load
  timeout_seconds: 3600
  # Frequency of progress updates
  update_seconds: 60
  # Version of Chrome Browser
  prod_version: 121.0.6167.161
  # URL to the Chrome Web Store
  store_url: https://chrome.google.com/webstore/category/extensions
  # Chrome request category id
  chrome_category_request_id: zTyKYc
  # Chrome detail request id
  chrome_detail_request_id: xY2Ddd
  # Once request extension details number
  chrome_scraper_once_num: 128

# TODO: storage_path 没有 archive_handle中